<div fxLayout="row" fxLayoutAlign="space-between">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div fxFlex="80">
                <a mat-button [routerLink]="''"> Hoteles Latacunga </a>
            <span class="menu-spacer"></span>
            </div>
             <div  dir="rtl" fxLayoutGap="20px" >
                <a mat-button [routerLink]="'login'" allign="right"> Login </a>

  
            </div>
            <div  dir="rtl" fxLayoutGap="5px" >
                <a mat-button [routerLink]="'registrar'" allign="right">Registrar</a>

  
            </div>
       </mat-toolbar-row>
  </mat-toolbar>>
</div>
 