<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="40">
       <mat-toolbar color="primary">Registrar</mat-toolbar>


        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-form-field>
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Usuario">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Reinsertar Password</mat-label>
                <input matInput type="password" placeholder="Password">
              </mat-form-field>
            <button mat-raised-button type="submit">Registrar</button>

          </form>
    </mat-card>
    </div>