.main-div mat-card{
    padding: 0px;
  
  }
  .login-form{
      padding: 20px;
  }
  .mat-toolbar.mat-primary {
      background: #636df7;
      color: rgb(251, 252, 253);
    }
    .c-error { 
      
      color: #cc0033;
      display: inline-block;
      font-size: 12px;
      line-height: 15px;
      margin: 5px 0 0;
    }